setuptools>=22.0,!=24.0.0  # PSF/ZPL  # MANDATORY TO BUILD CORRECT VIRTUALENV
pip>=6.0  # MIT  # MANDATORY TO BUILD CORRECT VIRTUALENV
nose==1.2.1
anyjson>=0.3.3  # BSD
paramiko>=1.16.0  # LGPL
proboscis==1.2.6.0
junitxml>=0.7.0
netaddr
python-glanceclient>=0.15.0,<0.18.0
python-keystoneclient>=1.2.0,<1.4.0
python-novaclient>=2.22.0,<2.24.0
python-cinderclient>=1.1.0,<1.2.0
python-neutronclient>=2.4.0,<2.5.0
python-heatclient>=0.3.0,<0.5.0
oslo.i18n>=1.5.0,<1.6.0
six>=1.9.0
Jinja2>=2.6  # BSD License (3 clause)
AllPairs==2.0.1
launchpadlib
beautifulsoup4>=4.2.0
requests>=2.7.0
joblib>=0.8.4
