nose==1.2.1
git+git://github.com/stackforge/fuel-devops.git@2.9.11
anyjson==0.3.1
paramiko
proboscis==1.2.6.0
ipaddr
junitxml>=0.7.0
netaddr
python-glanceclient==0.17.1
python-keystoneclient>=0.3.2
python-novaclient>=2.15.0
python-cinderclient>=1.0.5
python-neutronclient>=2.0
six
Jinja2
AllPairs==2.0.1
launchpadlib
beautifulsoup4>=4.2.0
requests>=2.2.0
joblib>=0.8.4
