setuptools>=22.0,!=24.0.0  # PSF/ZPL  # MANDATORY TO BUILD CORRECT VIRTUALENV
pycparser<2.14  # BSD  # Version pinned to avoid AssertionError: sorry, but this version only supports 100 named groups
pip>=6.0  # MIT  # MANDATORY TO BUILD CORRECT VIRTUALENV
nose==1.2.1
anyjson>=0.3.3  # BSD
paramiko>=1.16.0  # LGPL
proboscis==1.2.6.0
junitxml>=0.7.0
netaddr>=0.7.12,!=0.7.16  # BSD
pyOpenSSL>=0.14  # Apache-2.0
Sphinx  # BSD  # Not required for tests, but required to build docs (pbr)
docutils  # Not required for tests, but required to build docs (pbr)
markupsafe  # Not required for tests, but required to build docs (pbr)
pytz>=2013.6  # MIT  # Not required for tests, but required to build docs (pbr)
keystoneauth1>=2.1.0  # Apache-2.0
python-glanceclient>=2.0.0  # Apache-2.0
python-keystoneclient>=1.6.0,!=1.8.0,!=2.1.0  # Apache-2.0
# novaclient v8 contains drop for a lot of deprecates; we do not have ability to fix fuel-qa
python-novaclient>=2.29.0,!=2.33.0,<8.0  # Apache-2.0
python-cinderclient>=1.3.1  # Apache-2.0
python-neutronclient>=2.6.0,!=4.1.0  # Apache-2.0
python-ironicclient>=1.1.0  # Apache-2.0
python-heatclient>=0.6.0  # Apache-2.0
oslo.i18n>=3.1.0
six>=1.9.0 # MIT
Jinja2>=2.8  # BSD License (3 clause)
AllPairs==2.0.1
launchpadlib
beautifulsoup4>=4.2.0
requests>=2.8.1,!=2.9.0,<2.15  # Apache-2.0
joblib>=0.8.4
