# TODO(ddmitriev): remove this requirement when fuel-devops
# will be available as a PyPi package.
# Check virtual environment update scripts on CI first.
# If you want to use SQLite DB - postgree lib is not required and you can
# remove postgree egg
git+git://github.com/openstack/fuel-devops.git@3.0.3#egg=project[postgre]